.library-page-swiper {
    padding: 0 50px;
}

.library-page-text {
    padding-left: 60px;
    font-size: 35px;
    color: #D2D2D2;
}

.library-page-game-image {
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.77);
    object-fit: cover;
}

.library-game-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    margin-top: 0vh;
    /* 与上方元素的间距 */
    margin-bottom: 20px;
    /* 与下方元素的间距 */

}