.game-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  margin-right: 2vw;
  margin-bottom: 2vw; /* Add some space at the bottom */
  margin-left: 2vw;
  transition: transform 0.7s ease-in-out;
  max-width: 11vw;
  min-width: 5vw;
}

.game-card:hover {
  transform: scale(1.3);
  overflow: visible;
  /* 放大动画效果 */
}

.game-image {
  width: 100%;
  /* 宽度占满父容器 */
  height: 100%;
  /* 自适应高度 */
  /* 最大宽度为200px */
  border-radius: 10px;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.77);
  object-fit: cover;
}

.game-name-container {
  max-width: 100%;
  /* 限制容器的最大宽度，与 .game-image 相同 */
  overflow: hidden;
  /* 隐藏超出容器的文本 */
  white-space: nowrap;
  /* 保证文本在一行显示 */
}

/* GameCard.css */
.game-name {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.801);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  /* 根据需要调整 */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  /* 海报宽度 */
}


@keyframes scrollText {

  0%,
  25% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  75%,
  100% {
    transform: translateX(0);
  }
}

.long-text {
  animation: scrollText 20s linear infinite;
  display: inline-block;
  /* 由于文本需要移动，因此将其设置为 inline-block */
}

.option-button {
  position: absolute;
  right: 0.5vw;
  top: 0.5vw;
  width: 2vh;
  height: 2vh;
  background: url(../../public/img/ICON/icons-menu-480.png) no-repeat center center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s;
}

.game-card:hover .option-button {
  opacity: 0.7;
}

.options-menu {
  visibility: hidden; /* 初始设置为不可见 */
  opacity: 0; /* 初始透明度为0 */
  position: absolute;
  right: 10px;
  top: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear; /* 注意顺序和延迟设置 */
  color: white;
  font-size: 0.8rem;
}


.options-menu.active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; /* 当变为可见时，无延迟 */
}

.option-item {
  padding: 8px 12px;
  cursor: pointer;
}

.option-item:hover {
  background-color: #333; /* 悬停时的背景色 */
}

.tag-input-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  position: absolute;
  bottom: 35px; /* Adjust this to position just below the image */
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  box-sizing: border-box;
  justify-content: center;
  max-width: calc(100% - 10px); /* Provide some padding inside the container */
  margin: 0 5px; /* Center the container within the card */
  z-index: 150; /* Ensure it's above other elements */
}

.tag {
  background: #ccc;
  border-radius: 4px;
  padding: 2px 8px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.close-button {
  margin-left: 10px;
  cursor: pointer;
}

input[type="text"] {
  border: none;
  outline: none;
  padding: 4px;
  margin: 0;
  flex-grow: 1;
  max-width: calc(100% - 30px); /* Prevents overflow by considering padding and button width */
}

.tag-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
