.game-grid-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center; /* 水平居中 */
  justify-content: center; /* 垂直居中，如果需要 */
  min-height: 10vh; /* 如果你希望整个容器填满视窗的高度 */
}

.game-grid-big{
  display: flex;
  justify-content: center; 
  width: 100%;
}
.game-grid {
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  justify-content: flex-start; /* 改为从左开始排列 */
  align-items: flex-start; /* 从顶部开始对齐 */
  margin-top: 0vh; /* 与上方元素的间距 */
  margin-bottom: 0px; 
  /* margin-left: 5vw;
  margin-right: 5vw; */
  width: 86%;
  height: 83vh;
}

.pagination {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  gap: 1vw; /* 控制按钮之间的距离 */
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5)); /* 添加阴影效果 */
}

.page-item {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  filter: blur(1.3px); /* 添加高斯模糊效果 */
}

.page-item.active {
  color: rgb(236, 205, 235); /* 当前页面的圆点颜色 */
  filter: blur(0px); /* 激活状态下移除模糊效果 */
}

.page-item:not(.active) {
  color: rgb(142, 120, 146); /* 非当前页面的圆点颜色 */
}

.game-grid-fade-in {
  animation: fadeIn 700ms ease-in-out;
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.game-grid-fade-out {
  animation: fadeOut 700ms ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}